body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-info {
    text-align: center;
}

.hero-image {
    width: 150px;
    height: auto;
}

.hero-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    background-color: #fffde7;
    padding: 20px;
    border-radius: 8px;
}

.left-column {
    width: 50%; /*Ustawia szerokość column */
    border: solid 2px; /* Obramowanie kolumny */
    text-align: left; /*Wyrównanie textu do lewej */
    background-color: #fffde7;
    box-sizing: content-box; /* Uwzględnia padding */
}

.right-column {
    width: 50%;
    border: solid 2px;
    text-align: right;
    background-color: aquamarine;
    box-sizing: content-box;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button.hover {
    background-color: #0056b3;
}